

/*#menu-list a {*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*-o-text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*width: 100%;*/
/*}*/

#nav {
    width: 15%;
    float: left;
    height: 100%;
}

.search_icon {
    margin-left: 5px;
}

