<div id="header" style="width: 100%;height: 15%;background-color: #5cb85c">
    <h1>头部</h1>
</div>
<div style="width: 100%;height: 70%">
    <div id="menu" style="height: 100%;width: 10% ;background-color: #2e6da4 ;float: left">
        菜单
        <a href="#home/demo1">demo1</a>
        <a href="#home/demo2">demo2</a>
    </div>
    <div id="main" style="height: 100%;width: 90%;background-color: #8a6d3b ;float: left">
        窗口
    </div>
</div>
<div id="footer" style="height: 15% ;width: 100%;background-color: #5e5e5e">
    jio
</div>